@model IEnumerable<AppUser>

<h2>User List</h2>
<hr>

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th style="width:150px">Id</th>
			<th style="width:100px">ImageUrl</th>
			<th style="width:150px">Fullname</th>
			<th style="width:150px">Username</th>
			<th>Email</th>
			<th style="width:160px"></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Count() == 0)
		{
			<tr>
				<td colspan="4" class="text-center">User Yok</td>
			</tr>
		}
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td><img src="/users/@user.ImageUrl" width="80" /></td>
				<td>@user.Fullname</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>
					<a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Edit</a>
					<form asp-action="Delete" method="post" onsubmit="return confirm('Silme Işlemine Emin misiniz?!')"
						  style="display: inline-block;">
						<input type="hidden" value="@user.Id" name="id">
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

