@model PersonsViewModel

<h1>Person List</h1>
<hr />

@* <form method="get" action="/persons/personlist">
	<button type="submit" name="isDirector" value="true" class="btn btn-primary @(Model.isDirector ? "active" : "")">Directors</button>
	<button type="submit" name="isDirector" value="false" class="btn btn-primary @(!Model.isDirector ? "active" : "")">Casts</button>
</form> *@
@* <form method="get" action="/persons/personlist">
	<button type="submit" name="isDirector" value="true" class="btn btn-primary @(Model.isDirector ? "active" : "")">Directors</button>
	<button type="submit" name="isDirector" value="false" class="btn btn-primary @(Model.isDirector == false ? "active" : "")">Casts</button>
</form> *@
<form method="get" action="/persons/personlist">
	<button type="submit" name="isDirector" value="true" class="btn btn-dark @(Model.isDirector ? "active" : "")">All</button>
	<button type="submit" name="isDirector" value="false" class="btn btn-secondary @(Model.isDirector == false ? "active" : "")">Casts</button>
</form>



<br />

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th style="width:30px">#</th>
			<th style="width:100px">ImageUrl</th>
			<th style="width:100px">Name</th>
			<th>Biography</th>
			<th style="width:300px">Imdb</th>
			<th style="width:70px">PlaceOfBirth</th>
			<th style="width:160px"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var person in Model.Persons)
		{
			<tr>
				<td>@person.PersonId</td>
				<td> <img src="/persons/@person.ImageUrl" width="80" /></td>
				<td>@person.Name</td>
				<td>@person.Biography</td>
				<td>→<a href="@person.Imdb" target="_blank" rel="noopener noreferrer"> Imdb/@person.Name</a></td>
				<td>@person.PlaceOfBirth</td>
				<td>
					<a href="/persons/personupdate/@person.PersonId" class="btn btn-primary btn-sm">Update</a>
					<form action="/persons/persondelete" method="post" style="display: inline">
						<input type="hidden" name="PersonId" value="@person.PersonId" />
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>



