<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MovieWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MovieWeb.styles.css" asp-append-version="true" />
</head>
<body>
	@RenderSection("message", false)
	<header>
		@await Html.PartialAsync("_navbar")
		@*-- Jumbotron alanı --*@
		@RenderSection("header", false)
	</header>

	<div class="container mt-3">

		@*menu section kullandığımız takdirde sayfa kolonlarını 3e9 böldük ve 9 kolonuna renderbody ekliyoruz*@

		@if (IsSectionDefined("menu"))
		{
			<div class="row">
				<div class="col-md-3">
					@* @await Html.PartialAsync("_menu") koşulunu kullanmaya gerek kalmadı *@
					@RenderSection("menu", false)
				</div>
				<div class="col-md-9">
					@RenderBody()
				</div>
			</div>
		}
		else
		{
			@*eğer menu section kullanmıyorsak renderbody sayfanın tamamını almasını sağladık*@

			<div class="row">
				<div class="col-md-12">
					@RenderBody()
				</div>
			</div>
		}

	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - MovieWeb <a href="/home/about">About</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z72sJQ/cT2w1CvbXQfoxy2k1tHv7kRG5wfm2xr" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha384-XB4sMmEYQ3+tkTfCW33WGN5Z7/w9Iq5uBSxGLOzSLtF+3vRW4q1Vg0U0S6BkT0G7" crossorigin="anonymous"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
